img {
  width: 100%;
  height: 100%;
}
.text {
  background-color: beige;
}
.text2 {
  margin: 10vh 5vw;
  font-weight: 700;
  font-size: 20px;
}
.card {
  display: flex;
  flex: 33.33%;
  padding: 5px;
  /* margin: 33%; */
  /* height: 33%; */
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.container img {
  height: 40vh;
  width: 30vw;
}
